.header {
  position: fixed;
  display: flex;
  padding: 0 50px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  z-index: 2;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 2rem 0 4rem;
}

.search-input {
  width: 50%;
  padding: .5em 1.6em;
  border: 1px solid #F29F05;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-btn {
  padding: 0.3rem 1.6rem;
  border: none;
  background-color: #F29F05;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.search-btn:hover {
  background-color: #d48c06;
}

.search-btn svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.menu-icons {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
}

.menu-icons .bell:hover {
  fill: #F29F05;
}

.channel-icon {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #c3c3c3;
}

.side-panel {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: calc(100vh - 80px - 20px);
  padding: 0 50px;
}

.channels {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  height: 65vh;
}

.channel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin-bottom: 20px;
}

.channel-container:hover {
  background-color: #c2c2c2;
}

.channel-name {
  margin-left: -3.5rem;
  text-decoration: none;
  color: #000;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.social-network-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
}

.social-network-icon {
  width: 25px;
  height: 25px;
}

.footer-info {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info-link {
  text-decoration: none;
  color: #000;
}

.footer-info-link:hover {
  color: #cf2d2d;
}

.footer-info-icon {
  height: 30px;
  width: 30px;
  fill: #cf2d2d;
}

.main-panel {
  width: calc(100% - 300px);
  margin-left: 300px;
}

.categories {
  position: fixed;
  background-color: #fff;
  width: 100%;
  padding: 0 50px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  z-index: 2;
}

.category-section {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video-section {
  margin-top: 40px;
}

.video-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #CCC;
}

.video-section:first-child {
  border-top: none;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  position: relative;
  display: flex;
}

.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: .1em .3em;
  border-radius: .3em;
  font-size: .9em;
}

.thumbnail-image {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #AAA;
}

.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}

.channel-icon {
  margin-right: .75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #AAA;
}

.video-details {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .5rem;
  text-decoration: none;
  color: black;
}

.video-channel-name {
  margin-bottom: .1rem;
  text-decoration: none;
  transition: 150ms;
}

.video-channel-name:hover {
  color: #111;
}

.video-channel-name,
.video-metadata {
  color: #555;
}

.video-section-title {
  grid-column: 1 / -1;
  margin: -.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .5rem;
}

.video-section-title-close {
  border: none;
  background: none;
  padding: 0;
  font-size: 2rem;
  color: #555;
  cursor: pointer;
}

.videos {
  padding-top: 60px;
}

.container {
  padding-top: 20px;
  padding-top: 60px;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}
/*# sourceMappingURL=styles.css.map */