.footer-info
    height: 80px
    display: flex
    justify-content: center
    align-items: center
    color: #fff
    background-color: #2B1D03
    &-link
        text-decoration: none
        color: #fff
        &:hover
            color: #cf2d2d
    &-icon
        height: 30px
        width: 30px
        fill: #cf2d2d
