.header
    position: fixed
    display: flex
    padding: 0 3rem
    height: 60px
    justify-content: space-between
    align-items: center
    background-color: #2B1D03
    width: 100%
    opacity: 0.95
    z-index: 2

.logo
    height: 2rem
    margin-left: -1.8rem

.search
    &-bar
        display: flex
        justify-content: center
        align-items: center
        flex-grow: 1
        margin: 0 2rem 0 4rem
    &-input
        width: 50%
        padding: .5em 1.6em
        border: 1px solid #F29F05
        border-top-left-radius: 15px
        border-bottom-left-radius: 15px
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        font-size: 14px
        max-height: 2rem
        background-color: #F5F2EF
    &-btn
        padding: 0.3rem 1.6rem
        border: none
        background-color: #F29F05
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        border-top-right-radius: 15px
        border-bottom-right-radius: 15px
        max-height: 2rem

        &:hover
            background-color: #d48c06
        svg
            fill: #fff
            width: 20px
            height: 20px

.menu-icons
    display: grid
    align-items: center
    grid-template-columns: repeat(2, auto)
    gap: 2rem
    .bell
        fill: #fff
        &:hover
            fill: #F29F05

.channel-icon
    border-radius: 50%
    width: 36px
    height: 36px
    border: solid 2px #fff
    background-color: #c3c3c3
