.main-panel
    width: calc(100% - 300px)
    margin-left: 300px

.categories
    padding: 0 50px
    border-top: 1px solid #999
    border-bottom: 1px solid #999

.category-section
    height: 60px
    display: flex
    justify-content: space-between
    align-items: center
