.side-panel
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 300px
    height: calc(100vh - 60px)
    background-color: #F5F2EF

.channels
    display: flex
    flex-direction: column
    overflow-y: scroll

.channel
    &-container
        padding: 0 3rem
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 10px
        min-height: 60px
        width: 100%
        cursor: pointer
        &:hover
            background-color: #c2c2c2
    &-name
        margin-left: -3.5rem
        text-decoration: none
        color: #000

.info-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 1rem
    text-align: center
    background-color: #2B1D03
    &-title
        font-size: 22px
        font-weight: 500
        color: #fff

.social-network-container
    display: flex
    gap: 2rem
    justify-content: center
    width: 100%
    padding: 0.5rem 1.5rem

.social-network-icon
    width: 30px
    height: 30px
    fill: #fff
    &:hover
        fill: orange
