.side-panel
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 300px
    height: calc(100vh - 60px)
    background-color: #F5F2EF

.channels
    display: flex
    flex-direction: column
    overflow-y: scroll

.channel
    &-container
        padding: 0 3rem
        display: grid
        grid-template-columns: repeat(3, 6rem)
        align-items: center
        margin-bottom: 10px
        min-height: 60px
        width: 100%
        cursor: pointer
        overflow-x: hidden
        &:hover
            background-color: #c2c2c2
    &-name
        margin-left: -3rem
        text-decoration: none
        color: #2B1D03
        font-size: 16px
        font-weight: 500
    &-metadata
        font-size: 14px
        font-weight: 300
    &-live
        border: solid 2px #ca1212
        animation: pulse-dot 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.8s infinite

@keyframes pulse-dot
    0%
        transform: scale(1)

    50%
        transform: scale(1.2)

    100%
        transform: scale(1)

.info-container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding: 1rem
    text-align: center
    background-color: #2B1D03
    &-title
        font-size: 24px
        font-weight: 300
        color: #F5F2EF
        &::selection
            color: #2B1D03
            background: #F29F05

.social-network-container
    display: flex
    gap: 2rem
    justify-content: center
    width: 100%
    padding: 0.5rem 1.5rem
    i
        font-size: 32px
        color: #F5F2EF
        &:hover
            color: #F29F05

@media ( max-width: 1199px )
    .channel
        &-metadata,
        &-name
            display: none
        &-container
            overflow-x: hidden
    .side-panel
        width: 8rem
    .main-panel
        width: calc(100% - 8rem)
        margin-left: 8rem
    .info-container
        display: none
    .category-section
        width: calc(100vw - 8rem - 6rem)
