.side-panel
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-between
    width: 300px
    height: calc(100vh - 80px - 20px)
    padding: 0 50px

.channels
    display: flex
    flex-direction: column
    gap: 1rem
    overflow-y: scroll
    height: 65vh

.channel
    &-container
        display: flex
        justify-content: space-between
        align-items: center
        height: 80px
        margin-bottom: 20px
        &:hover
            background-color: #c2c2c2
    &-name
        margin-left: -3.5rem
        text-decoration: none
        color: #000

.info-container
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
    text-align: center
    margin-bottom: 40px

.social-network
    &-container
        display: grid
        align-items: center
        grid-template-columns: repeat(3, auto)
        gap: 2rem
    &-icon
        width: 25px
        height: 25px
